<article class='article'>
  <hgroup class='content-header'>
    <h2 class='content-title webfont'>
      <a href='{{ current.url }}'>{{ current.title }}</a>
    </h2>
    <h3 class='content-subheader'>
      <a class='next nav-icon ss-icon' href='{{ current.next.url }}' style='visibility: {% if current.next %}visible{% else %}hidden{% endif %}'>navigateleft</a>
      <a class='content-date' href='{{ current.url }}'>{{ current.date | date: '%B %d, %Y' }}</a>
      <a class='previous nav-icon ss-icon' href='{{ current.previous.url }}' style='visibility: {% if current.previous %}visible{% else %}hidden{% endif %}'>navigateright</a>
    </h3>
  </hgroup>
  <div class='content-body'>
    {{ current.body }}
  </div>
  <footer class='article-footer'>
    {% capture tweet_text %}I thoroughly enjoyed this post > "{{ title }}":{% endcapture %}
    <a class='tweet-button' href='https://twitter.com/intent/tweet?original_referer={{ permalink | escape }}&text={{ tweet_text | escape }}&tw_p=tweetbutton&url={{ permalink | escape }}&via={{ site.meta.twitter }}' target='_blank'><span class='ss-icon ss-social-regular'>twitter</span><span id='twitter-count' class='count'></span></a>
    <script>
      function count_callback(data) { document.getElementById('twitter-count').innerHTML = data.count; }
      var script = document.createElement('script');
      script.setAttribute("src", 'http://urls.api.twitter.com/1/urls/count.json?callback=count_callback&url={{ permalink | escape }}');
      document.getElementsByTagName("head")[0].appendChild(script);
    </script>
  </footer>
</article>
