<style>
  {% assign base_color        = current.meta.base_color       | fallback: '#000'                     %}
  {% assign background_color  = current.meta.background_color | fallback: '#FFF'                     %}
  {% assign highlight_color   = current.meta.highlight_color  | fallback: site.meta.highlight_color  %}
  {% assign lowlight_color    = current.meta.lowlight_color   | fallback: '#999'                     %}
  {% assign knockout_color    = current.meta.knockout_color   | fallback: background_color           %}

  html, body {
    background-color: {{ background_color }};
    color: {{ base_color }}
  }

  ::selection,
  .main-header {
    background-color: {{ highlight_color }};
    color: {{ knockout_color }};
  }

  a,
  .tweet-button:hover,
  .pagination a:hover {
    color: {{ base_color }};
  }

  .project-listing:hover img {
    border-bottom-color: {{ base_color }};
  }

  a:hover,
  .pagination a,
  .content-subheader a:hover,
  .content-body a:hover,
  .content-body .more,
  .content-footer a,
  .tweet-button,
  .listing-footer a:hover,
  .list-footer a,
  .article-footer p a:hover {
    color: {{ highlight_color }};
  }

  .content-subheader,
  .content-subheader a,
  .listing-footer,
  .listing-footer a,
  .main-footer,
  .article-footer p,
  .article-footer p a {
    color: {{ lowlight_color }};
  }

  .main-header a {
    color: #FFF;
  }

  .content-body a {
    border-bottom: solid 2px {{ highlight_color }}
  }
</style>
