<style>
  {% capture base_color       %}{{ current.meta.base_color.value       | fallback: '#000'                     }}{% endcapture %}
  {% capture background_color %}{{ current.meta.background_color.value | fallback: '#FFF'                     }}{% endcapture %}
  {% capture highlight_color  %}{{ current.meta.highlight_color.value  | fallback: site.meta.highlight_color  }}{% endcapture %}
  {% capture lowlight_color   %}{{ current.meta.lowlight_color.value   | fallback: '#999'                     }}{% endcapture %}
  {% capture knockout_color   %}{{ current.meta.knockout_color.value   | fallback: background_color           }}{% endcapture %}

  html, body {
    background-color: {{ background_color }};
    color: {{ base_color }}
  }

  body {
    border-top: solid 5px {{ highlight_color }};
  }

  ::selection {
    background-color: {{ highlight_color }};
    color: {{ knockout_color }};
  }

  a,
  .tweet-button:hover,
  .pagination a:hover {
    color: {{ base_color }};
  }

  .project-listing:hover img {
    border-bottom-color: {{ base_color }};
  }

  a:hover,
  .main-title-prefix,
  .main-nav-list > .is-selected > a,
  .pagination a,
  .content-subheader a:hover,
  .content-body a:hover,
  .content-body .more,
  .content-footer a,
  .tweet-button,
  .listing-footer a:hover,
  .list-footer a,
  .article-footer p a:hover {
    color: {{ highlight_color }};
  }

  .content-subheader,
  .content-subheader a,
  .listing-footer,
  .listing-footer a,
  .main-footer,
  .article-footer p,
  .article-footer p a {
    color: {{ lowlight_color }};
  }

  .content-body a {
    border-bottom: solid 2px {{ highlight_color }}
  }
</style>
