<section class='column-section list-section'>
  <h3>Featured {{ page.title | downcase }}</h3>
  <ul class='vertical-list'>
    {% for article in page.taxonomy.tags.featured.posts %}
      {% if article != current %}
        <li class='vertical-listing' style="border-left: solid 5px {{ article.meta.highlight_color | fallback: site.meta.highlight_color }}">
          <a href='{{ article.url }}'>{{ article.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <footer class='list-footer'>
    <a href='{{ page.url }}'>Archive &rarr;</a>
  </footer>
</section>
