{% capture content %}
  <div class='wrapper'>
    <div class='content'>
      <div class='article-list'>
        {% for article in posts limit:6 %}
          {% if article == posts.first %}
            {% capture article_body %}{{ article.excerpt }}<p><a class='more' href='{{ article.url }}'>Read&nbsp;more</a></p>{% endcapture %}
          {% else %}
            {% capture article_body %}<p>{{ article.excerpt | strip_html }}<a class='more' href='{{ article.url }}'>Read&nbsp;more</a></p>{% endcapture %}
          {% endif %}

          {% include 'includes/article-listing' %}
        {% endfor %}
      </div>
      <footer class='content-footer'>
        <a href='/{{ slug }}/archive'>Archive &rarr;</a></div>
      </footer>
    </div>
  </div>
{% endcapture %}

{% include 'layouts/default' %}
