<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>

    <title>{{ site.title }} - {{ current.title }}</title>

    <meta property="twitter:account_id" content="{{ site.meta.twitter_id }}">
    <meta name='description' content='{{ site.meta.description }}'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <link rel='icon' type='image/png' href='/images/favicon.png'>
    <link rel='shortcut icon' type='image/png' href='/images/favicon.png'>

    <link type="application/rss+xml" rel="alternate" title="Destroy Today" href="{{ site.meta.feed_url }}">
    <link href="//cdn.symbolset.com/{{ site.meta.symbolset_id }}/symbolset.css" rel="stylesheet">
    <link href='/styles/screen.css' rel='stylesheet'>

    {% include 'includes/typekit' %}
    {% include 'includes/analytics' %}
    {% include 'includes/custom-color' %}
  </head>

  <body class='{{ type }}'>
    <header id='main-header' class='main-header ss-navigatedown'>
      <div class='wrapper'>
        <h1 class='main-title'>
          <a href='/'>
            <span class='main-title-prefix'>destroy</span><span class='main-title-suffix'>today</span>
          </a>
        </h1>
        <nav class='main-nav'>
          <ul class='main-nav-list'>
            {% assign section = url | remove_first:'/' | split:'/' | first %}
            {% assign prev_group = 0 %}

            {% for page in site.pages %}
              {% unless page.home? %}
                {% if page.meta.group != prev_group %}
                  </ul>
                  <ul class='main-nav-list'>
                {% endif %}

                {% if page.meta.is-disabled %}
                  <li class='is-disabled'>{{ page.title }}</li>
                {% else %}
                  <li{% if section == page.slug %} class='is-selected'{% endif %}>
                    <a href='{{ page.url }}'>{{ page.title }}</a>
                  </li>
                {% endif %}

                {% assign prev_group = page.meta.group %}
              {% endunless %}
            {% endfor %}
          </ul>
        </nav>
      </div>
    </header>

    <main class='main-content'>
      <div class='wrapper'>
        {{ content }}
      </div>
    </main>

    <footer class='main-footer'>
      <p>Made with <span class="ss-icon">love</span> in Brooklyn</p>
      <p>&copy; {{ site.date | date: '%Y' }} Destroy Today, LLC. All Rights Reserved</p>
    </footer>

    {% include 'includes/pagination' %}

    <script src="//cdn.symbolset.com/{{ site.meta.symbolset_id }}/symbolset.js"></script>
    <script src="//platform.twitter.com/widgets.js"></script>
    <script>
      var mainHeader = document.getElementById('main-header');
      var body = document.body;
      var mainHeader_startHeight,
          startTouchY,
          touchY,
          prevTouchY,
          touchDirection,
          touch;

      mainHeader.addEventListener('click', function(e){
        if (touch)
        {
          e.preventDefault();
        }

        if (this.className.search('is-expanded') == -1)
        {
          this.className += ' is-expanded';
        }
        else
        {
          this.className = this.className.replace(' is-expanded', '');
        }
      });

      [].forEach.call(document.querySelectorAll('.main-nav-list a'), function(link) {
        link.addEventListener('touchstart', function(e) {
          e.stopPropagation();
        });
      });

      var window_touchmoved = function(e) {
        e.preventDefault();

        touchY = e.changedTouches[0].clientY;
        mainHeader.style.height =
          mainHeader_startHeight + (touchY - startTouchY) + 'px';

        touchDirection = touchY > prevTouchY ? 1 : -1;

        prevTouchY = touchY;
      };

      mainHeader.addEventListener('touchstart', function(e) {
        e.preventDefault();
        touch = true;

        mainHeader_startHeight = this.offsetHeight;
        startTouchY =
          prevTouchY = e.changedTouches[0].clientY;

        this.className += ' is-touching';
        window.addEventListener('touchmove', window_touchmoved, false);
      }, false);

      mainHeader.addEventListener('touchend', function(e) {
        window.removeEventListener('touchmove', window_touchmoved);

        this.style.height = '';
        this.className = this.className.replace(' is-touching', '');

        if (touchDirection == -1)
        {
          this.className = this.className.replace(' is-expanded', '');
        }
        else if (this.className.search('is-expanded') == -1)
        {
          this.className += ' is-expanded';
        }
      }, false);
    </script>
    {% include 'includes/syntax-highlighting' %}
  </body>
</html>
