<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>

    <title>{{ site.title }} - {{ current.title }}</title>

    <meta property="twitter:account_id" content="{{ site.meta.twitter_id }}">
    <meta name='description' content='{{ site.meta.description }}'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <link rel='icon' type='image/png' href='/images/favicon.png'>
    <link rel='shortcut icon' type='image/png' href='/images/favicon.png'>

    <link type="application/rss+xml" rel="alternate" title="Destroy Today" href="{{ site.meta.feed_url }}">
    <link href="//cdn.symbolset.com/{{ site.meta.symbolset_id }}/symbolset.css" rel="stylesheet">
    <link href='/styles/screen.css' rel='stylesheet'>

    {% include 'includes/typekit' %}
    {% include 'includes/analytics' %}
    {% include 'includes/custom-color' %}
  </head>

  <body class='{{ type }}'>
    <header class='main-header'>
      <div class='wrapper'>
        <h1 class='main-title'>
          <a href='/'>
            <span class='main-title-prefix'>destroy</span><span class='main-title-suffix'>today</span>
          </a>
        </h1>
        <nav class='main-nav'>
          <ul class='main-nav-list'>
            {% assign section = url | remove_first:'/' | split:'/' | first %}
            <li{% if section == 'about' %} class='is-selected'{% endif %}>
              <a href='/about'>About</a>
            </li>
            <li{% if section == null or section == 'blog' %} class='is-selected'{% endif %}>
              <a href='/blog'>Blog</a>
            </li>
            <li{% if section == 'work' %} class='is-selected'{% endif %}>
              <a href='/work'>Work</a>
            </li>
            <li><a href='mailto:{{ site.meta.email }}'>Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    {{ content }}

    <footer class='main-footer'>
      <p>Made with <span class="ss-icon">love</span> in Brooklyn</p>
      <p>&copy; {{ site.date | date: '%Y' }} Destroy Today, LLC. All Rights Reserved</p>
    </footer>

    {% include 'includes/pagination' %}

    <script src="//cdn.symbolset.com/{{ site.meta.symbolset_id }}/symbolset.js"></script>
    <script src="//platform.twitter.com/widgets.js"></script>
    {% include 'includes/syntax-highlighting' %}
  </body>
</html>
