@import '_normalize'
@import '_mixins'

// variables

$base-font: "jaf-bernina-sans-1","jaf-bernina-sans-2", "Helvetica Neue", Helvetica, sans-serif
$title-font: "lexia-1", "lexia-2", "Helvetica Neue", Helvetica, sans-serif
$code-font: "Monaco", monospace, serif

$separator-color: #E6E6E6
$inline-code-text-color: #000
$inline-code-background-color: #EEE
$bash-code-text-color: #FFF
$bash-code-background-color: #191919

// reset

@media screen and (max-device-width: 480px)
  html
    -webkit-text-size-adjust: 100%
    -ms-text-size-adjust: 100%

*
  box-sizing: border-box

ul
  padding: 0

li
  list-style-type: none

// base

body
  font: 400 100%/1.65 $base-font
  text-rendering: optimizeLegibility

img
  max-width: 100%

a
  +transition(color 0.25s ease)
  text-decoration: none

// fonts

.wf-loading .webfont
  visibility: hidden

// page

.wrapper
  max-width: 46.875em
  margin: 0 auto
  padding: 0 0.5em

// headers

h1, h2
  text-align: center

h2, h4
  font-family: $title-font
  font-weight: 700

h1
  font-size: 1.5em
  line-height: 1em
  font-weight: 700

h2
  +transition(font-size 0.25s ease)
  margin: 1em 0
  font-size: 2em
  line-height: 1.25em
  letter-spacing: -1px

h4
  font-size: 1.25em

.main-header
  padding: 2em 0

.main-title
  margin: 0.25em 0 1em

// nav

.main-nav
  text-align: center

.main-nav-list
  margin: 0.5em 0 0

  > li
    display: inline-block
    margin-left: 0.75em

    &:first-child
      margin-left: 0

// content

.content-header
  margin: 1em 1em 2em

.content-title
  margin: 0

.content-subheader
  font-size: 0.875em
  font-weight: normal
  text-align: center

  .nav-icon
    position: relative
    top: 3px

.content-date
  margin: 0 0.5em

.content-body
  p
    position: relative

  a
    text-decoration: none

  .more
    border-bottom: none

    &:after
      +transition(opacity 0.25s ease)
      content: ' \2192'
      opacity: 0

    &:hover:after
      opacity: 1

.list article
  padding-bottom: 2em
  margin-bottom: 3em
  border-bottom: solid 2px $separator-color

  &:last-child
    border-bottom: none

.article-listing h2
  font-size: 1.5em

// code

code
  position: relative
  top: -1px
  padding: 0.25em 0.5em
  font-family: $code-font
  font-size: 0.75em
  background-color: #EEE
  color: #000

pre > code
  display: block
  padding: 1em

  &.bash
    background-color: $bash-code-background-color
    color: $bash-code-text-color

// breakpoints

+min-width(30.1em)
  h2
    font-size: 300%

  .article-listing h2
    font-size: 200%

  .content-header
    margin: 1em 2em 3em

  .content-subheader
    font-size: 100%
    text-align: center
